doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Game Window
        link(rel="stylesheet", href="style.css")
    body 
        ul.credit-list
            li 
                a(href="https://craftpix.net/freebies/free-underwater-world-parallax-game-backgrounds/?num=1&count=22&sq=underwater&pos=8") Ocean background
            li
                a(href="https://craftpix.net/freebies/free-swimming-characters-animation-pixel-art/?num=1&count=22&sq=underwater&pos=5") Swimmer