* {
  margin: 0;
  padding: 0;
  color: black;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
}

canvas {
  border: 3px solid white;
  border-radius: 4px;
}

.credit {
  position: fixed;
  bottom: 10px;
  background: white;
  padding: 4px;
  border-radius: 3px;
  text-decoration: none;
}

.credit-list {
  background: white;
  padding: 10px;
  border-radius: 4px;
}

.credit-list > {
  text-decoration: none;
}
